
<div class="jumbotron">


{{#if result}}
<table class="table table-condensed table-hover">
  <thead>
  <tr>
    {{#each result.head}}
    <th>{{this}}</th>
    {{/each}}
  </tr>
</thead>
</tbody>
  {{#each result.res}}
  <tr>
    {{#each this}}
    {{#if @first}}
  <th>{{this}}</th>
{{else}}
<td>{{this}}</td>
    {{/if}}


    {{/each}}
  </tr>
  {{/each}}

  <tr>
    {{#each result.foot}}
    {{#if @first}}
    <th>{{this}}</th>
    {{else}}
    <td>{{this}}</td>
    {{/if}}
    {{/each}}
  </tr>
</tbody>
</table>

<div class="row">
<div class="form-group">
  <div class="col-md-1 col-md-offset-11">

      <button type="submit" id="editResultButton" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
  </div>
</div>
</div>



{{else}}

  <button type="submit" id="participateButton" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>

{{/if}}
</div>
