<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <h1> <span class="glyphicon glyphicon-user"></span></h1>
        </div>
        <div class="col-md-10">
            <h1>{{firstname}} {{name}} </h1>
        </div>
        <div class="col-md-10 col-md-offset-2">
            <h2>{{club}}</h2>
        </div>
        <div class="col-md-10 col-md-offset-2">
            <h3>{{getGenderText gender}}, {{year}}</h3>
        </div>
        <div class="col-md-1 col-md-offset-11">
            <button type="submit" id="cancel-button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
        </div>
    </div>
</div>
